@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  max-width: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.small-logo-container {
  width: 25px;
  height: 25px;
  margin: 2px;
  display: inline-block;
}

.small-logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.large-logo-container {
  width: 80px;
  height: 80px;
  margin: 2px;
  display: inline-block;
}

.large-logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.row-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamName {
  padding-left: 5px;
}

.logo-continer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.logo-continer img {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  max-width: 100%;
  max-height: 700px;
  height: 10vh;
}

.mh-80vh {
  max-height: 80vh;
}

.overflow-auto {
  height: 100%;
  overflow: auto;
}

.overflow-hidden {
  height: 100%;
  overflow: hidden;
}

.spacing-30px {
  min-height: 30px;
}

.barline {
  margin: 6px 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(79, 86, 90, 0.3);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px #484e52;
}

.rankings-table {
  padding: 8px;
}

.black-btn {
  text-transform: initial !important;
  border-radius: 8px !important;
  background-color: black !important;
}

.side-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-card.side-side-card {
  display: none;
  height: 80vh !important;
}

.side-card.top-side-card {
  height: 15vh !important;
}

@media screen and (min-width: 1000px) {
  .side-side-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .top-side-card {
    display: none !important;
  }
}

.w-100 {
  width: 100%;
}

.large-logo-container {
  width: 80px;
  height: 80px;
  margin: 2px;
  display: inline-block;
}

.large-logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: 600;
}

.head {
  font-weight: 700;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mh-40px {
  min-height: 40px;
}

.mh-60px {
  min-height: 60px;
}

.m3 {
  margin: 3px;
}

.m5 {
  margin: 5px;
}

.mb-0px {
  margin-bottom: 0px !important;
}

.mb-5px {
  margin-bottom: 5px !important;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.max_width_100 {
  max-width: 100%;
}

.mh-10px {
  min-height: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.spacing-5px {
  min-height: 5px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.spacing-10px {
  min-height: 10px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.spacing-15px {
  min-height: 15px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.spacing-20px {
  min-height: 20px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.spacing-25px {
  min-height: 25px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.spacing-30px {
  min-height: 30px;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.small-table {
  font-size: 12px;
}

.resp-card-content {
  max-width: 100% !important;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .resp-card-content {
    padding: 4px !important;
  }
}

.m0 {
  margin: 0;
}

.m0auto {
  margin: 0 auto;
}

.round-card, .stats-tabs {
  border-radius: 15px;
}

.stats-tabs li a {
  color: #e78a18 !important;
  font-size: 13px !important;
  text-transform: inherit;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.stats-tabs li a.active {
  font-weight: 900;
  color: #e78a18 !important;
}

.stats-tabs .indicator {
  background-color: rgba(231, 138, 24, 0.7) !important;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-200px {
  width: 200px;
}

.max_w-200px {
  max-width: 200px;
}

.w-250px {
  width: 250px;
}

.max_w-250px {
  max-width: 250px;
}

.w-150px {
  width: 150px;
}

.max_w-150px {
  max-width: 150px;
}

.w-125px {
  width: 125px;
}

.max_w-125px {
  max-width: 125px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=index.css.map */